body {
	font-family: "Lato", sans-serif;
	color: var(--primary-color);
	font-size: 1.6rem;
	line-height: 1.25;
}

main {
	overflow-x: hidden;
}

.sm-only {
	display: none;

	@include sm {
		display: block;
	}
}

.hide-sm {
	@include sm {
		display: none;
	}
}

.section {
	&-title {
		margin: 0;

		font-size: 4.1rem;
		font-weight: 700;
		line-height: 110%;
	}
}
