$fonts: '../fonts/';

/* Lato */

@font-face {
	font-family: 'Lato';
	src: local('Lato Regular'), local('Lato-Regular'),
		url($fonts + 'Lato/Lato-Regular.woff2') format('woff2'),
		url($fonts + 'Lato/Lato-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Lato';
	src: local('Lato Bold'), local('Lato-Bold'),
		url($fonts + 'Lato/Lato-Bold.woff2') format('woff2'),
		url($fonts + 'Lato/Lato-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

/* TT Commons */

@font-face {
	font-family: 'TT Commons';
	src: local('TT Commons Medium'), local('TTCommons-Medium'),
		url($fonts + 'TTCommons/TTCommons-Medium.woff2') format('woff2'),
		url($fonts + 'TTCommons/TTCommons-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
