.button {
	display: flex;
	align-items: center;
	text-align: center;
	background: var(--accent-color);
	border: none;
	border-radius: .7rem;
	padding: .9rem 2.5rem;

	font-family: 'TT Commons';
	color: #E7ECF3;
	font-weight: 500;
	font-size: 1.6rem;
	letter-spacing: 0.01em;
}
