@import "../../sass/mixins";

.header {
	position: fixed;
	left: 0;
	width: 100vw;
	background: #FFFFFF;
	box-shadow: 0 .4rem 1.4rem rgba(0, 0, 0, 0.05);

	padding: 1.2rem 0;

	font-weight: 700;
	font-size: 1.4rem;
	color: var(--primary-color);

	@include sm {
		display: none;
	}

	&-inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	nav {
		ul {
			list-style: none;
			padding: 0;
			margin: 0;
			display: flex;
			align-items: center;
			gap: 3.5rem;
		}
	}

	&-phone {
		display: flex;
		align-items: center;
		gap: .25em;
		padding: .7rem .4rem;

		color: #14489D;
		font-weight: 700;
	}
}
